*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}
span{
    color: #FFD700;
}
.hero{
    height: 800px;
    width: 100%;
    background-image: url('itachi.jpg');
    background-size: cover;
    background-position: center;
    
}
.h8{
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
}
.content{
    top: 50%;
    left: 100%;
    margin-left: 40px;
    transform: translateY(100%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 70px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #FFD700;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #FFD700;
    color: black;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #FFD700;
    top: 6px;
    right: 6px;
    transition: transform .4s;
}
.newslatter form input:last-child:hover{
    transform: scale(1.2);
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(10, 10, 10);
}
.about img{
    height: 400px;
    margin-right: 100px;
    width: auto;
}
.about-text{
    width: 550px;
}
.main{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.button-four{
    background-color: #FFD700;
    color:black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.button-four:hover{
    background-color: transparent;
    border: 2px solid #FFD700;
    color: white;
    cursor: pointer;
}
.service{
    background: black;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-right: 0;
}


h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: darkgray;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.contact-me{
    width: 100%;
    height: 60px;
    padding: 25px 0;
    background: #18191A;
    margin-top: 120px;
}


/*------------------- contact ------------------------------*/
.contact{
    padding-top: 200px;
    background-color: black;
}
.contact p{
    color: white;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 20px;
}
.contact-left p i{
    color: #FFD700;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.4s;
}
.social-icons a:hover{
    color: #FFD700;
    transform: translateY(-5px);
}
.btn2{
    display: inline-block;
    background-color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    border: 2px solid transparent;
    color: black;
    transition: .4s;
}
.btn2:hover{
    background-color: black;
    border: 2px solid #FFD700;
    color: white;
}
.btn3{
    padding: 2px 13px;
    background-color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    margin-left: auto;
    border: 2px solid transparent;
    color: black;
    transition: .4s;
    margin-top: -20px;
}
.btn3:hover{
    background-color: black;
    border: 2px solid #FFD700;
    color: white;
}
.contact-right .button-three{
    display: inline-block;
    background-color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left: auto;
    border: 2px solid transparent;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}
.Hello{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h100 {
    color: #696969;
    font-size: 35px;
}
.span3{
    margin-top: -180px;
    display: block;
}
/*-----------------------------portfolio-----------------------*/
.portfolio{
    background: #18191A;
    width: 100%;
    padding: 50px 0;
}
.portfolio h2{
    color: white;
    font-size: 75px;
    margin: 30px auto;
    text-align: center;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(1, minmax(1200px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    place-content: center;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 60%;
    margin: auto;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 400px;
    transform-origin: center center;
    transition: transform 0.4s;
 }
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #FFD700);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.4s;

}
.layer h6{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
    visibility: hidden;
}
.layer p{
    color: black;
    visibility: hidden;
    font-weight: bolder;
}
.layer a{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    transition: 0.4s;
}
.work:hover img{
    transform: scale(1.5);
}
.work:hover .layer{
    height: 100%;
}
.work:hover .layer h6{
    visibility: visible;
}
.work:hover .layer p{
    visibility: visible;
}
.layer a:hover{
    background: black;
    color: #FFD700;
}

.container-sample {
    background-color: #696969;
}

.work-sample{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-list-sample{
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px
}
.work-sample img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 650px;
    transform-origin: center center;
    transition: transform 0.4s;
}



.container-animation .text-animation{
    position: relative;
    color:#FFD700;
    font-size: 30px;
    
}

.text-animation:before{
    content: "";
    position: absolute;
    top: 2;
    left: 0;
    height: 150%;
    width: 100%;
    background-color: rgb(21, 17, 17);
    border-left: 2px solid white;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60%{
        left: calc(100% + 4px);
    }
    100% {
        left: 0%
    }
    
}
.contact-left p {
    display: flex;
}

/*-----------------------------scroll animation-----------------------*/
.hidden {
    opacity: 1;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: 0.5s;
}

.work {
    transition: all 1s;
    transition-delay: 0.5s; /* Add a delay of 0.5 seconds */
}
.work:nth-child(2) {
    animation-delay: 1s;
  }
.box:nth-child(1) {
    animation-delay: 0.75s;
}
.box:nth-child(2) {
    animation-delay: 1s;
}
.box:nth-child(3) {
    animation-delay: 1.25;
}
/*-----------------------------SKILLS ICON-------------------------*/
.card{
    height: 400px;
    width: 300px;
    padding: 20px 35px;
    background: #18191A;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: all 0.4s;
    display: flex;
    align-items: center;
}
.card:hover{
    transform: scale(1.1);
}
.box:hover > .card:not(:hover) {
    filter: blur(2px);
    transform: scale(0.999);
}
.wrapper .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
    padding-top: 2px;
    padding-left: 4px;
}
.wrapper .icon:hover{
    width: 200px;
    
}
.wrapper .icon .icon-name {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-left: -10px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}


.wrapper .icon .icon-name i{
    font-size: 25px;
    line-height: 60px;
    margin-top: -3px;
    margin-left: 10px;
}

.wrapper .icon .img {
    height: 20px;
}

.contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.contents2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.contents3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

/*------------------- RESPONSIVE NAVIGATION BAR -------------------------*/
.header-all{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(30, 29, 29);
    height: 50px;
    padding-left:  12%;
    padding-right: 12%;
    padding-top: 20px;
    transition: all 0.5s ease;
    border-bottom: 2px solid #FFD700;
}
h2 {
    color: white;
}
.navbar-header{
    display: flex;
    list-style: none;
}
.navbar-header a {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.5s ease;
    text-decoration: none;
}
.navbar-header a:hover {
    color:#FFD700;
    font-size: larger;
}
.main-navbar{
    display: flex;
    align-items: center;
}
.main-navbar a{
    margin-right: 25px;
    margin-left: 10px;
    color: rgb(55, 55, 55);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.5s ease;
}
#menu-icon{
    font-size: 35px;
    color: white;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    .header-all{
        padding: 14px 2%;
        transition: 0.2s;
    }
    .navbar-header{
        padding: 5px 0;
        margin: 0px 20px;
    }
    .btn3{
        margin-top: 0;
    }
}

@media (max-width: 1090px){
    .main-navbar a{
        height: 50px;
        width: 100px;
        padding: 10px 20px;
    }
    .logo{
        font-size: 50px;
    }
    .header-all{
        height: 100px;
    }
    #menu-icon{
        display: block;
        margin-right: 20px;
        font-size: 50px;
    }
    h1{
        font-size: 60px;
    }
    .container-animation .text-animation{
        font-size: 25px;
        
    }
    .navbar-header{
        position: absolute;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
        justify-content: center;
        align-items: center;

        width: 150px;
        height: 290px;
        box-shadow: 16px 14px 20px #0000008c;
        position: relative;
        overflow: hidden;
        margin-top: 300px;
    }
    .navbar-header a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.5s ease;
        z-index: 2;
    }
    .navbar-header a:first-child {
        order: 1;
      }
    .navbar-header::before{
        content: "";
        background-image: conic-gradient(
            #cbdd25 20deg,
            transparent 120deg
        );
        width: 1000%;
        height: 1000%;
        position: absolute;
        animation: rotate 2s linear infinite;
        z-index: -2;
    }
    .navbar-header::after{
        content: "";
        width: 145px;
        height: 285px;
        background: #232323;
        position: absolute;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
        letter-spacing: 5px;
        box-shadow: inset 20px 20px 20px #0000008c;
        z-index: -1;
    }
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(-360deg);
        }
    }
    
}

@media (max-width: 900px) {
    h5{
        font-size: 1rem !important;
    }
}



/*------------------- Image in about me animation -------------------------*/
.myImage {
    min-width: 273px;
    height: 395px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.myImage::before{
    content: "";
    background-image: conic-gradient(
        #e8a52b 20deg,
        transparent 120deg
    );
    width: 500%;
    height: 500%;
    position: absolute;
    animation: imagerotate 2s linear infinite;
}
.myImage::after{
    content: "";
    width: 263px;
    height: 385px;
    background-image: url('Picture1.jpg');;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffe75d;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes imagerotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}