@font-face {
  font-family: 'American Captain';
  src: url('Fonts/American\ Captain.ttf') format('truetype');
}
body {
  background-color: black;
  width: 100%;    
  padding-top: 8vw;
  overflow-x: hidden;
}
.rightClick:hover {
  cursor: pointer;
}
.leftClick:hover {
  cursor: pointer;
}
.spaceLeft{
  display: none;
}
.walkclub {
  display: none;
}
.benefitTexts {
  display: none;
}
.background-img img{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}
span {
  color: #9AFF01;
}
a {
  text-decoration: none;
}
.gameplay1 {
  font-family: 'American Captain', sans-serif;
  color: white;
  position: relative;
  font-size: 9vw;
}
.gameplay2 {
  position: absolute;
  top: 4.2vw;
  left: 31vw;
}
.gameplay3 {
  position: absolute;
  top: 12.2vw;
  left: 37.6vw;
}
em {
  font-style: normal;
  color: transparent;
  -webkit-text-stroke-width: 0.04vw;
  -webkit-text-stroke-color: white;
}
.benefits1 {
  font-family: 'American Captain', sans-serif;
  color: white;
  font-size: 7vw;
  text-align: center;
  width: 105%;
  height: 5.2vw;
  display: flex;
  justify-content: center;
}
.benefits2{
  height: 100%;
  width: 20.75vw;
  display: flex;
  color: #D6D6D6;
  font-size: 7vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.benefits3{
  height: 100%;
  width: 20.75vw;
  display: flex;
  color: transparent;
  font-size: 7vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke-color: #9AFF01;
  -webkit-text-stroke-width: 0.06vw;
}
.benefits4 {
  height: 100%;
  width: 20.75vw;
  display: flex;
  color: white;
  font-size: 7vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}
u {
  text-decoration: none;
  -webkit-text-stroke-width: 0.15vw;
  -webkit-text-stroke-color: red;
  color: transparent;
}
/* --------------------------------------- CHAT SUPPORT -------------------------------------------*/
.sendIcon {
  background-color: rgb(75, 202, 75);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  width: 2vw;
  position: absolute;
  border-radius: 0.5vw;
  top: 0.5vw;
  right: 0.5vw;
  font-size: 1.2vw;
  display: none;
}
.sendIcon:hover {
  cursor: pointer;
}
.visible {
  display: block;
}
.chathead {
  background-color: black;
  width: 4vw;
  height: 4vw;
  position: fixed;
  bottom: 1vw;
  right: 2vw;
  z-index: 10;
  border-radius: 3vw;
  border: 0.1vw solid #9AFF01;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chathead:hover {
  cursor: pointer;
}
.chathead:active {
  transform: scale(0.9);
}
.chathead:active .online{
  bottom: 0vw;
  right: 0.2vw;
}
.chathead img{
  width: 2.5vw;
}
.online {
  background-color: rgb(71, 197, 71);
  width: 1vw;
  height: 1vw;
  position: fixed;
  bottom: 1vw;
  right: 2.2vw;
  z-index: 3;
  border-radius: 2vw;
  border: 1px solid white;
}
.chat {
  position: fixed;
  height: 35vw;
  width: 24vw;
  bottom: 6vw;
  right: 2vw;
  z-index: 3;
  border: 1px solid #9AFF01;
  background-color: #393424;
  opacity: 0;
  border-radius: 1vw;
  transform: translateY(2vw);
  visibility: hidden;
  overflow: hidden;
  transition: all 0.8s;
  display: flex;
  flex-direction: column;
}
.showChat {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.chatbox {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  z-index: -123456;
  opacity: 0;
  transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;
  
}

/* BUTTON */
.chatbox__button {
  text-align: right;
}


/* HEADER */
.chatbox__header {
  width: 100%;
  height: 7vw;
  min-height: 7vw;
  top: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-direction: column-reverse;
}
.chat-box {
  display: flex;
  flex-direction: column;  
  width: 100%;
  margin: 0 auto;
  min-height: 22.7vw;
  overflow-y: scroll;   
  scroll-behavior:smooth;
  padding: 0 1vw;
  padding-bottom: 1vw;
}

.message-container {
  display: flex;
  justify-content: flex-start;  
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  background-color: #f2f2f2;
  margin-top: 1vw;
}

.message-container.visitor {
  align-self: flex-start;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2vw;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  background-color: #9CFF00;  
}

.message-container.visitor .message{
  font-size: 0.7vw;
  font-weight: 500;
}

.message-container.operator {
  align-self: flex-end;
  justify-content: flex-end;
  background-color: #0099ff;
  color: white;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2vw;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}
.choices {
  display: flex;
  flex-wrap: wrap;
}
.choices .message-container{
  margin-left: 0vw;
  margin-right: 0.2vw;
  margin-top: 0.2vw;
  max-width: 100%;
}
.message-container .choice {
  align-self: flex-start;  
}
.message-container.choice:hover {
  background-color: #0099ff;
  color: white;
  cursor: pointer;
}
.message {
  margin: 0;
  font-size: 0.6vw;
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  padding: 0.5vw;
  font-family: 'Poppins', sans-serif;
}
.choice a{
  color: black;
  text-decoration: none;
}
.choice:hover a{
  color: white;
}
.messages__item {
  background: orange;
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
  bottom: 0;
  height: 5.5vw;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
}
.xIcon {
  position: absolute;
  background-color: #665050;
  color: white;
  height: 2vw;
  width: 2vw;
  right: 0.5vw;
  top: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4vw;
  font-size: 1vw;
  opacity: 0.5;
}
.xIcon:hover {
  opacity: 1;
  cursor: pointer;
}
.chatbox__footer textarea {
  border-radius: 0.9vw;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0.9vw;
  border-bottom-left-radius: 0.9vw;
  height: 100%;
  width: 100%;
  padding-left: 1vw;
  padding-right: 3vw;
  padding-bottom: 2vw;
  padding-top: 0.5vw;
  resize: none;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.headerLogo {
  background-color: black;
  width: 3vw;
  height: 3vw;
  border-radius: 2vw;
  border: 1px solid #9AFF01;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
}
.headerLogo img {
  width: 1.8vw;
}
.headerText {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6vw;
  font-weight: 800;
  color: #9AFF01;
}
/*---------------- SCROLL BAR -------------------------------*/
/* width of the scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9AFF01; 
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #778f53; 
}
/*----------------------------REVISED CAROUSEL SECTION--------------------------------------*/
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  transition: all 0.5s;
  padding: 0;
  position: relative;
}
.container .shoes {
  position: absolute;
  z-index: 2;
  top: 2vw;
  left: 0;
}
.carousel {
  display: none;
}
.swiper {
  width: 74%;
  height: fit-content;
}
.swiper-slide img{
  width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: white;
  font-size: 5vw;
  height: 3vw;
  width: 3vw;
  border-radius: 1vw;
  transition: all 0.5s;
}
.swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover {
  background-color: black;
  opacity: 0.6;
}  
.swiper .swiper-pagination-bullet-active {
  background: white;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: rgb(255, 255, 255);
}
.swiper-button-next:after,.swiper-button-prev:after {
  display: none;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,0.5vw));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,0.5vw));
}
.swiper-button-prev img, .swiper-button-next img{
  width: 1vw;
}
/*----------------------------NAVIGATION BAR--------------------------------------*/
.bx {  
  position: absolute;
  right: 0;
  color: #9AFF01;
  width: 13vw;
  top: 2.5vw;
  font-size: 5vw;
  visibility: hidden;
  transition: all 0.4s ease;
}
#menu-icon {
  transition: transform 0.4s ease;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
}
.selector {
  border-radius: 2vw;
  background-color: #9AFF01;
  width: 3vw;
  margin-top: 0.5vw;
  height: 0.5vw;
  transition: all 0.5s;
  transform: translateX(2vw);
}
.middleShoe {
  animation: move-up-down 2s ease-in-out infinite;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2vw);
  }
  100% {
    transform: translateY(0);
  }
}
.navigation-bar {  
  color: white;
  display: flex;
  align-items: center;
  background-color: #161616;
  padding-right: 2vw;
  height: 8vw;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.h15 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6vw;
  font-weight: 800;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9cff00;
  width: 38%;
}

.text img {
  width: 4vw;
  margin-right: 1vw;
  margin-left: 4vw;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 54vw;
}


.button img {
  width: 9vw;
}

.button {
  position: relative;
  width: 6.4vw;
  height: 1.7vw;
  border-radius: 0.4vw;
  background-color: #9CFF00;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  transition: color 0.5s, background-color 0.5s;
}
.button:hover {
  color:#9CFF00;
  background-color: black;
  border: 0.01vw solid #9CFF00;
}
.button img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.button img:last-child {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button:hover img:first-child {
  opacity: 0;
}

.button:hover img:last-child {
  opacity: 1;
}

/*----------------------------Download SECTION Revised--------------------------------------*/
.upperSection img {
  width: 100%;
  z-index: -1;
  position: relative;
}
.downloadIcon2 i {
  transform: translateY(-1vw);
}
.downloadSection {
  position: absolute;
  top: -8vw;
  height: 42vw;
  width: 100%;
  display: flex;
}
.left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 2%;
  padding-bottom: 9%;
  transform: translateY(10vw);
}
.downloadNow {
  font-family: 'American Captain', sans-serif;
  color: white;
  position: absolute;
  top: 7.75vw;
  left: 6.5vw;
  font-size: 9.14vw;
  z-index: 3;
}
.downloadNow:nth-child(2){
  top: 9.95vw;
  opacity: 0.3;
  z-index: 2;
  text-shadow: none;
}
.downloadNow:nth-child(3){
  top: 12.15vw;
  opacity: 0.1;
  z-index: 1;
  text-shadow: none;
}

.downloadButton {
  width: 25%;
  height: 27%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0.2vw solid #9CFF00;
  border-radius: 1vw;
  text-align: center;
  z-index: 3;
  transition: color 0.8s, background-color 0.8s, box-shadow 1.75s;
}

.downloadButton a{
  color: #9CFF00;
}
.downloadButton:hover {
  background-color: #9CFF00;
  box-shadow: 0vw 0vw 4vw 0vw #9CFF00;
}
.downloadButton:hover a{
  color: black;
}
.downloadButton img {
  z-index: 1;
  position: absolute;
}
.downloadIcon {
  font-size: 2.8vw;
}
.downloadIcon3 {
  fill: #9CFF00;
}
.downloadIcon3 svg{
  height: 2vw;
}
.downloadText {
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 2vw;
  width: 12vw;
}
.downloadIcon2 {
  font-size: 4.1vw;
}
.downloadText2 {
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 2vw;
  width: 12vw;
  margin-top: -1.8vw;
}
.downloadButton .hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.downloadButton:hover .default {
  opacity: 0;
}

.downloadButton:hover .hover {
  opacity: 1;
}
.move {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 39%;
  gap: 7%;
  transition: all 0.5s;
  transform: translateX(32%);
}
.right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateY(10vw)
}
.rightText {  
  width: 54%;
  height: 51%;
  display: flex;
  align-items: center;
}
.rightText img {
  width: 100%;
  z-index: 1;
}

.rightLine {
  background-color: #9AFF01;
  height: 61%;
  width: 0.8%;
  transition: all 0.7s;
}
.rightIcons {
  flex-wrap: wrap;
  flex-direction: column;
  height: 63%;
  width: 26%;
  display: flex;
  justify-content: center;
  row-gap: 10%;
  z-index: 1100;
}
.rightIcon {
  color: white;
  width: 42%;
  height: 24%;
  font-size: 3vw;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.rightIcon a {
  color: white;
  transition: transform 0.3s;
}
.rightIcon a:hover {
  color: #9AFF01;
  transform: scale(1.2);
}

.h14 {
  color: #9AFF01;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 4vw;
  text-align: right;
  transition: all 0.5s;
  line-height: 4vw;
}

.h14:hover {
  color:#9AFF01;
  cursor: pointer;
}
.h14:hover .rightLine{
  background-color: #9AFF01;
}
/*----------------------- Core Value Section -----------------------------------*/
.coreValue {
  width: 100%;
  height: 22vw;
  position: absolute;
  top: 49vw;
  display: flex;
  gap: 1%;
}
.coreValueTexts {
  width: 45%;
  padding-top: 1%;
  padding-left: 8%;
  padding-right: 7%;
  height: 100%;
}
.h12 {
  box-sizing: border-box;
  font-size: 3.4vw;
  color: #9AFF01;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.h13 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
}
.missionVision {
  width: 24%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12%;
  padding-right: 3%;
}
/*---------------------- What is walk club section ------------------------*/
.info {  
  top: 71vw;
  width: 100%;
  height: 63.5vw;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.phones {
  width: 70%;
  display: flex;
  height: 100%;
  padding-left: 6%;
  flex-direction: row;
  justify-content: space-around;
}

.phone {
  height: 29vw;
  width: 14vw;
}
.phone:nth-child(1) {
  padding-top: 20%;
}
.phone:nth-child(2) {
  padding-top: 32.5%;
}
.phone:nth-child(3) {
  padding-top: 45%;
}
.phone img {
  width: 100%;
  z-index: 2;
}

.infoTexts {
  width: 30%;
  padding-top: 36%;
  text-align: end;
  padding-right: 5%;
}

/*----------------------- Carousel Section ----------------------------------*/
.carouselImages {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow: hidden;
  scroll-behavior: smooth; 
  scroll-behavior: 1s; 
}

.carousel {
  position: relative;
}

.carouselImages img {
  width: 100%;
  scroll-snap-align: center;
}

.arrowCar {
  position: absolute;
  top: 28vw;
  transform: translateY(-9vw);
  width: 5vw;
  height: 5vw;
  background-color: black;
  border-radius: 38%;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  cursor: pointer;
  color: black;  
}
.arrowCar img {
  width: 1.8vw;
}

.leftArrow,
.rightArrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: none;  
}

.left-arrow {
  padding: 1vw;
  left: 2vw;
  opacity: 0.2;
}

.left-arrow:hover {
  opacity: 0.6;
}

.right-arrow {
  padding: 1vw;
  right: 2vw;
  opacity: 0.2;
}

.right-arrow:hover {
  opacity: 0.6;
}

/*--------------------------- Shoe Carousel Section -----------------------------*/
.shoeCarousel {
  overflow: hidden;
}

.lineTwo {
  height: 2vw;
  width: 0.3vw; 
  background-color: #9AFF01;
}
h16 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  font-weight: 400;
}
.shoes img{  
  height: 27px;
  width: 93px;
}

.shoes {
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 2vw;
  align-items: center;
  gap: 1vw;
}
.shoeChoice {  
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  position: relative;
  margin-top: 5%;
}
.stage{
  height: 33vw;
  width: 86vw;
  align-items: center;
  display: flex;
  position: relative;
}
.stage img {
  width: 100%;
}
.leftShoe {
  position: absolute;
  width: 22vw;
  height: 23vw;
  left: 1vw;
  transition: all 0.8s ease-in-out;
}
.leftShoe img{
  width: 100%;
}
.middleShoe {
  position: absolute;
  width: 40vw;
  height: 44vw;
  left: 22vw;
  transition: all 0.8s ease-in-out;
}
.middleShoe img{
  width: 100%;
}
.rightShoe {
  position: absolute;
  width: 22vw;
  height: 23vw;
  left: 62vw;
  transition: all 0.8s ease-in-out;
}
.rightShoe img{
  width: 100%;
}
.secondShoe {
  position: absolute;
  width: 23vw;
  height: 19vw;
  left: -30vw;
  transition: all 0.8s ease-in-out;
}
.secondShoe img {
  width: 100%;
}
.sixthShoe {
  position: absolute;
  width: 21vw;
  height: 19vw;
  left: 93vw;
  transition: all 0.8s ease-in-out;
}
.sixthShoe img {
  width: 100%;
}
.firstShoe {
  position: absolute;
  width: 23vw;
  height: 19vw;
  left: -30vw;
  visibility: hidden;
  transition: all 0.3s ease;
}
.firstShoe img {
  width: 100%;
}
.seventhShoe {
  position: absolute;
  width: 21vw;
  height: 19vw;
  left: 93vw;
  visibility: hidden;
  transition: all 0.3s ease;
}
.seventhShoe img {
  width: 100%;
}
.leftShoeArrow{
  width: 1.4vw;
  cursor: pointer;
  z-index: 2;
}
.rightShoeArrow{
  width: 1.4vw;
  cursor: pointer;
  z-index: 2;
}
h11 {
  font-family: 'Poppins', sans-serif;
}
.rightShoeArrow img{
  width: 100%;
}
.leftShoeArrow img{
  width: 100%;
}

.shoeDescription {
  color: white;
  text-align: center;
  font-size: 1.4vw;
  transition: all 0.5s;
  display: flex;
  align-items: start;
  justify-content: center;
  margin: auto;
  position: relative;
  width: 51vw;
  height: 31vw;
  margin-top: 3vw;
}


.shoeDescriptionMiddle {              
  transition: opacity 0.5s ease;
  position: absolute;
}

.shoeDescriptionRight {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  position: absolute;
}

.shoeDescriptionLeft {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  position: absolute;
}
.shoeDescriptionFirst {
  display: none;
  position: absolute;
}
.shoeDescriptionSecond {
  display: none;
  position: absolute;
}
.shoeDescriptionSixth {
  display: none;
  position: absolute;
}
.shoeDescriptionSeventh {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}
/*----------------------- Gameplay Section ----------------------------------*/
.gameplay img{
  width: 100%;
}

/*---------------------------- Tutorial Section ------------------------------*/
.tutorial {
  padding: 0 5vw;
  overflow: hidden;
}
.number {  
  color: #9CFF00;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 5vw;
  text-shadow: 0 0 4px #9AFF01, 0 0 42px #9AFF01;
}
.upperTText {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}
.tutorialText{
  margin-top: 1vw;
  width: 12vw;
  margin-left: 0.6vw;
}
h8 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3vw;
  color: #9CFF00;
  font-weight: 700;
}
h9 {
  font-size: 1.25vw;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.upperTutorial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  align-items: center;
}
.lowerTutorial {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  gap: 10vw;
  margin-bottom: 20vw;
  margin-top: 10vw;
}
.firstPic {
  height: 27vw;
}
.secondPic{
  height: 27vw;
}
.thirdPic {
  height: 27vw;
}
.arrow {
  width: 2vw;
  margin-top: -9vw;
}
.arrowBelow{
  margin-top: 12vw;
}
.fourthPic{
  height: 27vw;
}
.fifthPic {
  height: 27vw;
}
.upperTImage {
  display: flex;
  justify-content: center;
}
/*---------------------------- Lifestyle Section ------------------------------*/
.lifestyle {
  overflow: hidden;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28vw;
}

.lifestyle .benefits {
  width: 125%;
}
.pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-top: 6vw;
  width: 100%;
  gap: 4vw;
}
.pictureContainer {
  display: flex;
  flex-direction: column;  
  align-items: center;
  width: 26vw;
}
.pictureContainerText {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pictureContainer img {
  width: 100%;
}

h1 {
  color: white;
  font-size: 2.5vw;
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
h2 {
  color: white;
  text-align: center;
  font-size: 1.1vw;
  width: 21vw;
  margin-top: 1vw;
  font-family: 'Poppins', sans-serif;  
  font-weight: 400;
}

/*---------------------------- footer ------------------------------*/
.footer{
  background-color: #161f2c;
  height: 14vw;
}
.upFooter {
  display: flex;
  padding: 0px 4vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 14vw;
}
.center {
  text-align: center;
}
.footerRight {
  text-align: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2.5vw;
}
h4 {
  color: #9CFF00;
  font-size: 1.3vw;
  font-family: 'Poppins', sans-serif;
}

h5 {
  color: white;
  font-size: 1vw;
  line-height: 2.5vw;
  font-family: 'Poppins', sans-serif;
}
h6 {
  color: white;
  font-size: 0.8vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 1vw;
}

h7 {
  color: #9CFF00;
  font-size: 1.1vw;
}
.footerIconsContainer {
  width: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.footerIconsContainer a {
  color: white;
  font-size: 1.7vw;
  transition: all 0.4s;
}
.footerIconsContainer a:hover {
  color: #9AFF01;
  transform: translateY(-0.3vw);
}
.footerIcons{
  display: flex;
}


/* ------------------------------------- responsiveness ------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 767px) {
  
  .right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translateY(10vw);
    z-index: 0;
    height: 25vw;
  }
  .h14 {
    display: none;
  }
  .rightLine {
    display: none;
  }
  .rightText {
    display: none;
  }
  .rightIcon {
    color: white;
    width: 70%;
    height: 32%;
    font-size: 4vw;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    transform: translateX(-10vw);
  }
  .move {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 39%;
    gap: 7%;
    transition: all 0.5s;
    transform: translate(4vw, 6vw);
  }
  .hiddenRight {  
    transform: translateX(90vw);
  }
  .hiddenLeft {
    transform: translateX(-90vw);
  }
  .show {
    transform: translateX(0);
  }
  .upperTImage img{
    height: 41vw;
  }
  .walkclub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9vw;
    margin-bottom: 7vw;
    margin-top: 5vw;
  }
  .twoPhones {
    width: 25vw;
  }
  .twoPhones img{
    width: 100%;
  }
  h17 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 3.5vw;
  }  
  spanTwo {
    color: #9AFF01;
  }
  .twoPhonestext{
    width: 35vw;
  }
  .infoTexts {
    display: none;
  }
  .info {
    display: none;
  }
  .coreValueTexts {
    display: none;
  }
  .spaceLeft{
    display: block;
    width: 60%;
  }
  .left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 2%;
    padding-bottom: 9%;
    top: 9vw;
    position: absolute;
  }
  .downloadButton {
    width: 25%;
    height: 43%;
    position: relative;
  }
  .upperSectionBackground {
    content: url(images/mobile-background.webp);
  }
  
  .phones {
    display: none;
  }
  /* --------------------------------------- MOVING BORDER START -------------------------------------------*/
  .movingBorder {
    width: 25.2vw;
    height: 42.8vw;
    top: 10.4vw;
    left: 102.4vw;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
  }
  .showBorder {
    left: 73.4vw;
  }
  .movingBorder::before{
    
    content: "";
    background-image: conic-gradient(
        #9AFF01 20deg,
        transparent 120deg
    );
    width: 1000%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
  }
  .movingBorder::after{
    width: 190px;
    height: 190px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9AFF01;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
  }
  @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
  }
  /* --------------------------------------- MOVING BORDER END -------------------------------------------*/
  .navigation-bar {
    height: 10vw;
  }
  body {
    padding-top: 10vw;
  }
  .h13 {
    font-size: 1.8vw;
  }
  .coreValueTexts {
    width: 48%;
    padding-top: 0%;
    padding-left: 6%;
    padding-right: 7%;
    height: 100%;
  }
  .missionVision {
    width: 24%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12%;
    padding-right: 3%;
    margin-left: -4vw;
    margin-top: -2vw;
    display: none;
  } 
  .shoeDescription {
    font-size: 3vw;
    width: 95vw;
  }
  .coreValueTexts {
    width: 48%;
    padding-top: 3vw;
  }
  h9 {
    font-size: 3vw;
  }
  h8 {
    font-size: 4.3vw;
  }
  .number {
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 11vw;
    margin-top: -2vw;
  }  
  .lowerTutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .upperTutorial {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .tutorialItems {
    display: flex;
    width: 96%;
    justify-content: space-around;
    margin-bottom: 10vw;
    align-items: center;
    transition: all 0.8s;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .endAlign {
    text-align: end;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 3vw;
    margin-bottom: -39vw;
    margin-top: 14.5vw;
    width: 24vw;
    border-radius: 1vw;
    border: 1px solid green;
    margin-right: -29vw;
    margin-left: 6vw;
    padding: 3vw;
    transition: 0.6s ease;
    background: black;
    z-index: 2;
  }
  .move {
    padding-bottom: 0;
  }
  .buttonsShow {
    margin-right: 0;
  }
  .selector {
    display: none;
  }
  .button img {
    width: 17vw;
  }
  .arrow {
    display: none;
  }
  .tutorialText {
    margin-top: 1vw;
    width: 25vw;
    margin-left: 0.6vw;
  }
  h2 {
    color: white;
    text-align: center;
    font-size: 2vw;
    width: 33vw;
    margin-top: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  h1 {
    font-size: 3.2vw;
  }
  h3 {
    font-size: 3vw;
  }
  h4 {
    font-size: 1.5vw;
  }
  h5 {
    font-size: 1.2vw;
  }
  h6 {
    font-size: 1.2vw;
  }
  h7 {
    font-size: 1.3vw;
  }
  .footerIconsContainer {
    width: 3.5vw;
  }
  .bx {
    visibility: visible;
  }  
  .tutorialItems.moveLeft {
    transform: translateX(-50%);
  }  
  .leftClick {
    background-color: transparent;
    width: 30vw;
    height: 28vw;
    position: absolute;
    transform: translate(-30vw, -9vw);
    opacity: 0.3;
    z-index: 5;
  }
  .rightClick {
    background-color: transparent;
    width: 94vw;
    height: 83vw;
    position: absolute;
    transform: translate(0vw, 8vw);
    opacity: 0.3;
    z-index: 4;
  }

  .pictureContainerText {
    display: none;
  }
  .pictures {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vw;
  }
  .photos {
    width: 100%;
  }
  .middleBenefit {
    position: absolute;
    width: 46vw;
    transform: translateX(0);
    z-index: 3;
  }
  .rightBenefit {
    position: absolute;
    transform: translateX(32vw);
    width: 35vw;
  }
  .leftBenefit {
    position: absolute;
    transform: translateX(-30vw);
    width: 35vw;
  }
  .middleTextB,
  .rightTextB,
  .leftTextB {
    transition: all 0.4s ease;
  }
  .middleBenefit,
  .rightBenefit,
  .leftBenefit {
    transition: all 0.4s ease;
  }
  .benefitTexts {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 58%;
    height: 35vw;
    text-align: center;
    position: relative;
    display: block;
  }
  .benefitTitle  {
    font-weight: 800;
    font-size: 4vw;
  }
  .description {
    font-size: 2.3vw;
    font-weight: 400;
    margin-top: 3vw;
  }
  .leftTextB {
    position: absolute;
    opacity: 0;
  }
  .middleTextB {
    position: absolute;
  }
  .rightTextB {
    position: absolute;
    opacity: 0;
  }
  .shoeNext {
    position: absolute;
    width: 65vw;
    height: 58vw;;
    transform: translate(34vw, 3vw);
    z-index: 3;
  }
  .shoePrevious {    
    position: absolute;
    width: 33vw;
    height: 56vw;
    transform: translate(1vw, 4vw);
    z-index: 4;
  }
  .shoeNext:hover {
    cursor: pointer;
  }
  .shoePrevious:hover {
    cursor: pointer;
  }
  .carousel .shoes{
    position: absolute;
    top: 2vw;
  }
  h16 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    font-weight: 400;
  }
  .lineTwo {
    height: 4vw;
    width: 0.7vw;
  }
  /*------------------------------- CHAT SUPPORT ----------------------------------*/
  .chat {
    height: 85vw;
    width: 54vw;
  }
  .chat-box {    
    min-height: 72.2vw;
    padding: 0 2vw;
  }
}

@media screen and (min-width: 768px) {  
  .carousel {
    position: relative;
  }
  .carousel .shoes {
    position: absolute;
    top: 3vw;    
  }
  
  @keyframes glowing {
    0% {
      text-shadow: 0px 0px 0px #9CFF00;
    }    
    50% {
      text-shadow: 0 0 100px #9AFF01;
    }
    75% {
      text-shadow: 0 0 200px #9AFF01;
    }
    90% {
      text-shadow: 0 0 400px #9AFF01;
    }
    100% {
      text-shadow: none;
    }
  }
  .h14 {
    position: relative;
    animation: glowing 1s ease-in-out infinite;
  }
  /* ---------------------------------------- DOWNLOAD ---------------------------------------*/
  h2 {
    font-size: 1.4vw;
    font-weight: 400;
  }
  .h12 {
    font-size: 2vw;
  }
  .h13 {
    font-size: 1vw;
  }
  .coreValueTexts {
    width: 34%;    
    padding-right: 6%;    
  }
  .missionVision {
    width: 18%;
  }
  .infoTexts {
    width: 21%;
    padding-left: 5vw;
    padding-right: 0%;
  }
  .infoTexts .h13 {
    margin-top: 1vw;
  }
  /* ---------------------------------------- GAMEPLAY ---------------------------------------*/
  .upperTImage img {
    height: 21vw;
  }  
  h8 {
    font-size: 2vw;
  }
  h9 {
    font-size: 1vw;
  }
  .number {
    font-size: 4vw;
  }
  .arrow {
    width: 1.5vw;
    margin-top: -6vw;
  }
  .lowerTutorial .arrow {
    margin-top: 9vw;
  }
  .upperTutorial {
    width: 78vw;
    margin: auto;
    overflow: hidden;
  }   
  .hiddenLeftPC{
    transform: translateX(-5vw);
    opacity: 0;
    transition: all 0.8s;
  }
  .bottomRightPC {
    transform: translateX(5vw);
    opacity: 0;
    transition: all 0.8s;
    transition-delay: 500ms;
  }
  .hiddenRightPC{
    transform: translateX(5vw);
    opacity: 0;
    transition: all 0.8s;
    transition-delay: 1000ms;
  }
  .hiddenUpPC{
    opacity: 0;
    transform: translateY(-5vw);
    transition: all 0.8s;
    transition-delay: 500ms;
  }
  .arrow {
    opacity: 0;
    transition-delay: 500ms;
    transition: all 0.5s;
  }
  .show {
    transform: translateX(0vw);
    opacity: 1;
  }
  /* ---------------------------------------- BENEFITS ---------------------------------------*/
  .leftClick {
    background-color: transparent;
    width: 16vw;
    height: 17vw;
    position: absolute;
    transform: translate(-17vw, -7vw);
    opacity: 0.3;
    z-index: 5;
  }
  .rightClick {
    background-color: transparent;
    width: 50vw;
    height: 35vw;
    position: absolute;
    transform: translate(0vw, 0vw);
    opacity: 0.3;
    z-index: 4;
  }
  .pictureContainerText {
    display: none;
  }
  .pictures {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25vw;
  }
  .photos {
    width: 100%;
  }
  .middleBenefit {
    position: absolute;
    width: 22vw;
    transform: translateX(0);
    z-index: 3;
  }
  .rightBenefit {
    position: absolute;
    transform: translateX(17vw);
    width: 18vw;
  }
  .leftBenefit {
    position: absolute;
    transform: translateX(-17vw);
    width: 18vw;
  }
  .middleTextB,
  .rightTextB,
  .leftTextB {
    transition: all 0.4s ease;
  }
  .middleBenefit,
  .rightBenefit,
  .leftBenefit {
    transition: all 0.4s ease;
  }
  .benefitTexts {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 36%;    
    text-align: center;
    position: relative;
    display: block;
    height: 25vw;
  }
  .benefitTitle  {
    font-weight: 800;
    font-size: 1.4vw;
  }
  .description {    
    font-size: 1vw;
    font-weight: 400;
    margin-top: 1vw;
  }
  .leftTextB {
    position: absolute;
    opacity: 0;
  }
  .middleTextB {
    position: absolute;
  }
  .rightTextB {
    position: absolute;
    opacity: 0;
  }
  .navigation-bar {
    height: 5vw;
  }
  .stage {
    height: 33vw;
    width: 65vw;
    align-items: center;
    display: flex;
    position: relative;
  }
  .shoeDescription {
    color: white;
    text-align: center;
    font-size: 1vw;
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 0vw auto auto;
    position: relative;
    width: 30vw;
    height: 17vw;    
    transform: translateY(-4vw);
  }
  /*------------------------------------ SHOE CAROUSEL ------------------------*/
  .shoeNext {
    position: absolute;
    width: 55vw;
    height: 30vw;
    transform: translate(34vw, 3vw);
    z-index: 3;
  }
  .shoePrevious {
    position: absolute;
    width: 27vw;
    height: 29vw;
    transform: translate(7vw, 4vw);
    z-index: 4;
  }
  .shoeNext:hover {
    cursor: pointer;
  }
  .shoePrevious:hover {
    cursor: pointer;
  }
  .middleShoe {
    position: absolute;
    width: 28vw;
    height: 32vw;
    left: 18vw;
  }
  .rightShoe {
    position: absolute;
    width: 18vw;
    height: 20vw;
    left: 46vw;
  }
  .leftShoe {
    position: absolute;
    width: 18vw;
    height: 20vw;
    left: 0vw;
  }
  .secondShoe {
    position: absolute;
    width: 18vw;
    height: 20vw;
    left: -37vw;
  }
  .firstShoe {
    position: absolute;
    width: 18vw;
    height: 20vw;
    left: -37vw;
  }
  .sixthShoe {
    position: absolute;
    width: 18vw;
    height: 20vw;
    left: 85vw;
  }
  .shoeChoice {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 5%;
    justify-content: center;
    gap: 4vw;
    margin-top: -3vw;
  } 
  .shoeCarousel {
    margin-top: 6vw;
  }
  /*------------------------------ Navigation bar--------------------------*/
  .button img {
    width: 6vw;
  }
  .buttons {
    width: 36vw;
  }
  .h15 {
    font-size: 2.6vw;
  }
  .text img {
    width: 3vw;
    margin-right: 1vw;
    margin-left: -5vw;
  }
  body {
    padding-top: 5vw;
  }
  .selector {
    border-radius: 2vw;
    background-color: #9AFF01;
    width: 2vw;
    margin-top: 0.5vw;
    height: 0.3vw;
    transition: all 0.5s;
  }
  /*------------------------------ End Navigation bar--------------------------*/
  .lifestyle .benefits {
    width: 103%;
  }
  .lifestyle {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .downloadNow:nth-child(1) {
    top: 0.75vw;
  }
  .downloadNow:nth-child(2) {
    top: 2.75vw;
  }
  .downloadNow:nth-child(3) {
    top: 4.75vw;
  }
  .downloadText {
    font-size: 4vw;
    line-height: 3.2vw;
    width: 21vw;
  }
  .downloadText2 {
    font-size: 4vw;
    line-height: 3.2vw;
    width: 25vw;
  }
  .downloadIcon {
    font-size: 4vw;
  }
  .downloadIcon2 {
    font-size: 5.4vw;
  }
  .button{
    width: 18.4vw;
    height: 4.7vw;
    font-size: 2.4vw;
  }
  .message-container.visitor .message {
    font-size: 1.7vw;
  }
  .message {
    font-size: 1.6vw;
  }
  
  .chathead {
    background-color: black;
    width: 10vw;
    height: 10vw;
    position: fixed;
    bottom: 1vw;
    right: 2vw;
    border-radius: 10vw;
    border: 0.1vw solid #9AFF01;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chathead img{
    width: 5vw;
  }
  .chat {
    transform: translateY(-4vw);
  }
  .showChat {
    transform: translateY(-7vw);
  }
  .online {
    width: 2vw;
    height: 2vw;
    bottom: 1vw;
    right: 3.2vw;
  }
  .benefits1{
    height: 7.2vw;
  }
}
.show {
  transform: translateX(0);
}