@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #63A5FF;
}

.main {
    position: relative;
}

.main img {
    width: 100%;
}

.container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    padding: 0 15vw;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 7vw;
    gap: 2vw;
}

.logo img {
    width: 40vw;
}

.tableContainer {
    width: 100%;
    margin-top: 10vw;
}

.tableHeader {
    border-radius: 2vw;
    border: 0.01vw solid white;
    width: -webkit-fill-available;
    height: 3vw;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    font-size: 1.5vw;
    color: white;
    font-family: 'Lalezar', cursive;
    justify-content: space-between;
}

.tableRows {
    width: -webkit-fill-available;
    height: 3vw;
    border-radius: 5vw;
    background-color: rgba(217, 217, 217, 0.54); 
    margin-top: 2vw;
    transition: background-color 0.2s, transform 0.3s;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    font-size: 1.5vw;
    justify-content: space-between;
    font-family: Arial;
    position: relative;
}

.tableRows:hover {
    background-color: rgba(255, 72, 204, 0.57); 
    transform: scale(1.03);
}

.green {
    color: #00FF0A;
}

.yellow {
    color: #FFF500;
}

.red {
    color: #FF0000;
}

.tableData {
    width: 10vw;
}

.move {
    transform: translateX(3.7vw);
}

.mobileBackground {
    display: none;
}

.iconContainer {
    background-color: white;
    width: 8vw;
    height: 8vw;
    border-radius: 2.5vw;
    margin-top: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expand {
    width: 11.8vw;
}

.iconContainer img {
    width: 90%;
    margin-top: 0;
}

.leftHand {
    right: 15.2vw;
}

.rightHand {
    right: 1.8vw;
}

.leftHand, .rightHand {
    top: 0.8vw;
    width: 2vw;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.leftHand img, .rightHand img {
    width: 100%;
}

.moveLeft {
    transform: translateX(-0.5vw);
}

.moveRight {
    transform: translateX(0.5vw);
}

@media (max-width: 768px) {
    .desktopBackground {
        display: none;
    }
    .mobileBackground {
        display: block;
    }
    .logo {
        margin-top: 19vw;
    }
    .logo img {
        width: 46vw;
    }
    .tableHeader {
        border-radius: 8vw;
        border: 0.3vw solid white;
        height: 10vw;
        font-size: 3.5vw;
    }
    .tableRows {
        height: 10vw;
        font-size: 3.5vw;
        font-size: 3vw;
        margin-top: 7vw;
    }
    .container {
        padding: 0 5vw;
    }
    .expand {
        width: 24vw;
    }
    .move {
        transform: translateX(5.7vw);
    }
    .tableContainer {
        margin-top: 25vw;
    }
    .iconContainer {
        width: 13vw;
        height: 13vw;
        border-radius: 3.5vw;
    }
    .iconContainer img {
        width: 90%;
    }
    .leftHand, .rightHand {
        top: 3.7vw;
        width: 3.9vw;
    }
    .leftHand {
        right: 27.2vw;
    }
}