@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Helvetica Bold';
    src: url('fonts/Helvetica-Bold.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Helvetica Bold Oblique';
    src: url('fonts/Helvetica-BoldOblique.ttf') format('truetype');
}
@font-face {
    font-family: 'Helvetica Bold Oblique';
    src: url('fonts/Helvetica-BoldOblique.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Helvetica Compressed';
    src: url('fonts/helvetica-compressed-5871d14b6903a.otf') format('opentype');
}
  
@font-face {
    font-family: 'Helvetica Light';
    src: url('fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Helvetica Oblique';
    src: url('fonts/Helvetica-Oblique.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Helvetica Rounded Bold';
    src: url('fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('opentype');
}

@font-face {
    font-family: 'PingFang SC Regular';
    src: url('fonts/pingfang\ \(regular\).ttf') format('truetype');
}
@font-face {
    font-family: 'PingFang SC 400';
    src: url('fonts/pingfang\ \(regular\).ttf') format('truetype');
}
body {
    font-family: 'Helvetica', sans-serif;
    padding: 7.5vw;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
.heroLogo img {
    width: 27vw;
    margin-right: 10vw;
}
.hero a{
    text-decoration: none;
    color: white;
}
.heroContents{
    display: flex;
    margin-bottom: 7vw;
}
.appName {
    font-size: 6vw;
    margin-bottom: 3vw;
}
.appCompany {
    font-size: 3.5vw;
    color: #9AA2A5;
    margin-bottom: 3vw;
}
.appAds {
    font-size: 3vw;
    color:#9AA2A5;
}
.appStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vw;
}
.statContents {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: center;
}
.statLine {
    height: 12vw;
    width: 0.1vw;
    background-color: #D3D3D3;
}
.statContentsTop {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-bottom: 2vw;
    font-size: 5vw;
}
.statContentsTop img {
    height: 5vw;
}
.statContentsBottom {
    font-size: 3vw;
    text-align: center;
    color: #9AA2A5;
}
.downloadButton {
    background-color: #0059D7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    border-radius: 12vw;
    font-size: 3.5vw;
    margin-bottom: 5vw;
}
.appScreenshots {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;
}
.appScreenshots img {
    width: 26vw;
}
.appDescriptionTitle {
    font-size: 4vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
}
.appDescriptionContents {
    font-size: 3.5vw;
    color: #9AA2A5;
    text-align: justify;
    margin-bottom: 5vw;
}
.descriptionButtons{
    display: flex;
    gap: 3vw;
    margin-top: 10vw;
}
.buttonContainer {
    color: #9AA2A5;
    border: 0.1vw solid #9AA2A5;
    border-radius: 2vw;
    font-size: 3.5vw;
    padding: 1vw
}
.dataSecurityContainer {
    border: 0.1vw solid #C8C8C8;
    border-radius: 2vw;
    padding: 5vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
}
.dataSecurityContents {
    display: flex;
    margin-bottom: 5vw;
}
.dataSecurityLeft img{
    width: 5vw;
    margin-right: 5vw;
}
.dataSecurityRight{
    color: #9AA2A5;
    font-size: 3.5vw;

}
.dataSecurityBottom {
    font-size: 3.5vw;
    color: #818181;
}
.ratingsContainer {
    display: flex;
    margin-bottom: 15vw;
}
.ratingsLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
    margin-right: 5vw;
}
.ratingsBar {
    display: flex;
    align-items: center;
    font-size: 3.5vw;
    height: auto;
    justify-content: space-between;
}
.ratingsBarText {
    width: 6vw;
}
.ratingsBar img {
    margin-left: 5vw;
    width: 45vw;
}
.ratingsRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18vw;
    gap: 2vw;
    justify-content: center;
}
.reviewsContainer {
    color: #9AA2A5;
    border: 0.1vw solid #C8C8C8;
    border-radius: 2vw;
    display: flex;
    font-size: 3vw;
    align-items: center;
    padding: 2vw;
    height: 16vw;
    margin-bottom: 10vw;
}
.reviewsIcon img{
    width: 5vw;
    margin-left: 3vw;
    margin-right: 5vw;
}
.ratingsTitle {
    color: white;
    font-size: 4vw;
    margin-bottom: 3vw;
}
.ratingsSubtitle {
    color: #9AA2A5;
    font-size: 3.5vw;
    margin-bottom: 14vw;
}
.ratingsIcon{
    width: 10vw;
    margin-top: 8vw;
    margin-bottom: 5vw;
}
hr {
    color:#E2E2E2;
}
.bottomTitle {
    color: #9AA2A5;
    font-size: 4vw;
    margin-top: 5vw;
    margin-bottom: 10vw;
}
.bottomContainer {
    display: flex;
    margin-bottom: 5vw;
}
.bottomLeft img {
    width: 10vw;
    margin-right: 5vw;
}
.bottomRight {
    font-size: 3.5vw;
}
.rightTop {
    color: #9AA2A5;
    margin-bottom: 2vw;
}
.rightBottom {
    color: #6F746A;
}
.footerTop {
    font-size: 4vw;
    color: #9AA2A5;
    margin-top: 5vw;
    margin-bottom: 8vw;
}
.footerBottom {
    display: flex;
    justify-content: space-between;
    font-size: 3.5vw;
}